@font-face {font-family:"DINPro"; src:url("../fonts/DINPro-Light.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"DINPro"; src:url("../fonts/DINPro-LightItalic.woff") format("woff"); font-weight:normal; font-style:italic}
@font-face {font-family:"DINPro"; src:url("../fonts/DINPro-Bold.woff") format("woff"); font-weight:bold; font-style:normal}
@font-face {font-family:"DINPro"; src:url("../fonts/DINPro-BoldItalic.woff") format("woff"); font-weight:bold; font-style:italic}
@font-face {font-family:"DINProMedium"; src:url("../fonts/DINPro-Medium.woff") format("woff"); font-weight:normal; font-style:italic}

html {min-width:480px; height:100%}

body {min-width:480px; height:100%; margin:0; padding:0; font:14px/20px DINPro, sans-serif; color:#484848; background:#fff}

@media (max-width:1199px) {
    body {font-size:16px; line-height:25px}
}

a {outline:none; color:#28b2c6; text-decoration:none}
a:hover {text-decoration:underline}

img {border:none}

h1 {color:#000; font-weight:bold; font-size:60px; line-height:60px; text-transform:uppercase; margin:27px 0 85px 0; padding:0}
h2 {color:#000; font-weight:bold; font-size:30px; line-height:30px; text-transform:uppercase; margin:76px 0 34px 0; padding:0}
h2:first-child {margin-top:0}
h1+h2 {margin-top:-18px}
h3 {color:#000; font-weight:bold; font-size:25px; line-height:30px; text-transform:uppercase; margin:56px 0 34px 0; padding:0}
h3:first-child {margin-top:0}
h2+h3 {margin-top:30px}
h4 {color:#000; font-weight:bold; font-size:20px; line-height:20px; text-transform:uppercase; margin:56px 0 37px 0; padding:0}
h4:first-child {margin-top:20px}
p {margin:20px 0; padding:0}
ul {margin:20px 0; padding:0; list-style:none}
ul li {margin:20px 0; padding:0 0 0 20px; position:relative}
ul li:before {content:""; display:block; width:7px; height:7px; border-radius:7px; background:#ffc613; position:absolute; left:3px; top:7px}
li ul li:before {background:#bfbfbf}
ol {margin:20px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:20px 0; padding:0 0 0 20px; position:relative}
ol li:before {content:counter(point)'.'; counter-increment:point 1; left:0; position:absolute; top:0; font-weight:bold}
li ol li:nth-child(1):before {content:"a."}
li ol li:nth-child(2):before {content:"b."}
li ol li:nth-child(3):before {content:"c."}
li ol li:nth-child(4):before {content:"d."}
li ol li:nth-child(5):before {content:"e."}
li ol li:nth-child(6):before {content:"f."}
li ol li:nth-child(7):before {content:"g."}
li ol li:nth-child(8):before {content:"h."}
li ol li:nth-child(9):before {content:"i."}
li ol li:nth-child(10):before {content:"j."}
li ol li:nth-child(11):before {content:"k."}
li ol li:nth-child(12):before {content:"l."}
li ol li:nth-child(13):before {content:"m."}
li ol li:nth-child(14):before {content:"n."}
li ol li:nth-child(15):before {content:"o."}
li ol li:nth-child(16):before {content:"p."}
li ol li:nth-child(17):before {content:"q."}
li ol li:nth-child(18):before {content:"r."}
li ol li:nth-child(19):before {content:"s."}
li ol li:nth-child(20):before {content:"t."}
li ol li:nth-child(21):before {content:"u."}
li ol li:nth-child(22):before {content:"v."}
li ol li:nth-child(23):before {content:"w."}
li ol li:nth-child(24):before {content:"x."}
li ol li:nth-child(25):before {content:"y."}
li ol li:nth-child(26):before {content:"z."}
.wrapper table {font-size:16px; line-height:20px; border-collapse:collapse; width:100%; margin:40px 0}
.wrapper table th {vertical-align:top; padding:18px 0 21px 30px; border-bottom:2px solid #ffc613; font-size:12px; font-weight:bold; text-align:left; text-transform:uppercase; color:#000}
.wrapper table th:first-child {padding-left:0}
.wrapper table td {vertical-align:top; padding:18px 0 21px 30px; border-top:1px solid #e6e6e6}
.wrapper table td:first-child {padding-left:0}
.wrapper table tbody tr:first-child td {border-top:none}
.wrapper table thead+tbody {border-bottom:2px solid #ffc613}
.wrapper table p {margin:10px 0 0 0}
.wrapper table p:first-child {margin:0}

@media (max-width:1199px) {
    h1 {font-size:45px; line-height:50px}
    h2 {font-size:30px; line-height:38px}
    h3 {font-size:25px; line-height:25px}
    h4 {font-size:20px; line-height:25px}
    p {margin:25px 0}
    ul {margin:25px 0}
    ul li {margin:25px 0}
    ul li:before {top:9px}
    ol {margin:25px 0}
    ol li {margin:25px 0}
    .wrapper table {margin:50px 0}

    .mobile-wide {margin-left:-55px; margin-right:-55px}
}

.btn-1 {display:block; border-radius:3px; background:#ffc613; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:50px; box-sizing:border-box; color:#000; text-align:center; text-transform:uppercase; font:bold 14px/50px DINPro, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-1:hover {text-decoration:none; background:#ffe613}
.btn-1:active {text-decoration:none; background:#ffba13}

.btn-2 {display:block; border-radius:0; background:transparent; margin:0; padding:0; outline:none; width:100%; border:1px solid #7ecee1; text-decoration:none; height:50px; box-sizing:border-box; color:#000; text-align:center; text-transform:uppercase; font:bold 14px/48px DINPro, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-2:hover {text-decoration:none; border-color:#c3c4c4}
.btn-2:active {text-decoration:none; border-color:#000}

.pager {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; margin:34px 0}
.pager a,
.pager span {display:inline-block; vertical-align:top; width:38px; height:28px; margin:0 5px; border:1px solid #e5e5e5; text-align:center; color:#000; font-size:14px; line-height:28px; letter-spacing:0; text-decoration:none}
.pager a:hover {border-color:#c3c4c4}
.pager a:active {border-color:#000}
.pager a.active {border-color:#ffc613}

.cols {margin:0 -15px}
.cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.col-half {float:left; width:50%; box-sizing:border-box; padding:0 15px}
.col-third {float:left; width:33.33%; box-sizing:border-box; padding:0 15px}

@media (max-width:1199px) {
    .col-half {width:100%}
    .col-half+.col-half {margin-top:25px}
    .col-third {width:100%}
    .col-third+.col-third {margin-top:25px}
}

form {margin:40px 0; padding:0}

@media (max-width:1199px) {
    form {margin:50px 0}
}

.form-success {position:relative; text-align:center; background:#f8fdf8; border:1px solid #e5f6e5; padding:24px 20px 22px 20px; margin:20px 0}
.form-success-title {color:#84b85a; font-weight:bold; font-size:20px}
.form-success-text {margin:5px 0 0 0}

.form-error {position:relative; text-align:center; background:#fffafa; border:1px solid #fde9e9; padding:24px 20px 22px 20px; margin:20px 0}
.form-error-title {color:#f00; font-weight:bold; font-size:20px}
.form-error-text {margin:5px 0 0 0}

.form-label {font-weight:bold; text-transform:uppercase; color:#000; font-size:12px; margin:20px 0 10px 0}
.form-label span {color:#f00}

.form-hint {opacity:.5; margin:8px 0 0 0}

@media (max-width:1199px) {
    .form-hint {margin:0}
}

.form-input {margin:10px 0; position:relative}
.form-input.error:after {content:""; display:block; width:1px; height:15px; background:url(../images/form-error.png); position:absolute; right:-18px; top:13px}
.form-input.valid:after {content:""; display:block; width:18px; height:13px; background:url(../images/form-valid.png); position:absolute; right:-31px; top:14px}
.form-input input,
.form-input textarea {border:1px solid #e6e6e6; font:14px/20px DINPro, sans-serif; color:#484848; vertical-align:top; margin:0; padding:9px 20px; width:100%; height:40px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.form-input textarea {height:auto; resize:none; overflow:auto}
.form-input input::-webkit-input-placeholder {opacity:1; color:#3e3e3e}
.form-input input::-moz-placeholder {opacity:1; color:#3e3e3e}
.form-input input:-ms-input-placeholder {opacity:1; color:#3e3e3e}
.form-input textarea::-webkit-input-placeholder {opacity:1; color:#3e3e3e}
.form-input textarea::-moz-placeholder {opacity:1; color:#3e3e3e}
.form-input textarea:-ms-input-placeholder {opacity:1; color:#3e3e3e}
.form-input input:hover,
.form-input textarea:hover {border-color:#b3b3b3}
.form-input input.error,
.form-input textarea.error {border-color:#f02a2a}
.form-input input.success,
.form-input textarea.success {border-color:#84b85a}
.form-input input:focus,
.form-input textarea:focus {border-color:#888989; color:#888989}
.form-input label.error {display:block; color:#f02a2a; margin:8px 0 0 0}

@media (max-width:1199px) {
    .form-input input {height:50px; padding-top:14px; padding-bottom:14px; font-size:16px}
    .form-input textarea {padding-top:14px; padding-bottom:14px; font-size:16px}
    .form-input label.error {margin:0}
}

::-ms-clear {display:none}

.form-field {margin:30px 0}

.form-file {margin:20px 0}
.form-file:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-file-input {float:left; width:170px; height:38px; background:#f7f7f7; border:1px solid #f7f7f7; text-align:center; position:relative; overflow:hidden; line-height:38px; cursor:pointer; border-radius:0; font-size:12px; text-transform:uppercase; color:#484848}
.form-file-input:hover {background:#e6e6e6}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.form-file.error .form-file-input {border-color:#f02a2a}
.form-file-input label.error {display:none !important}
.form-file-name {margin:0 0 0 190px; position:relative; overflow:hidden; color:#484848; opacity:.5; white-space:nowrap; text-overflow:ellipsis; font-size:14px; line-height:40px}

.form-submit {margin:30px 0 0 0; width:270px}
.form-submit .btn-1 {height:40px; line-height:40px; font-size:12px}

@media (max-width:1199px) {
    .form-submit {width:auto}
    .form-submit .btn-1 {height:50px; line-height:50px}
}

.wrapper {min-width:480px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:20px 0 320px 0}

@media (max-width:1199px) {
    .wrapper-inner {padding:50px 0 725px 0}
}

.top-mobile {display:none}

@media (max-width:1199px) {
    .top-mobile {display:block; position:fixed; left:0; top:0; right:0; z-index:8000; background:#333; height:50px; padding:0 55px}
    .top-mobile-phone {float:left; padding:0 0 0 25px; background:url(../images/header-phone.png) no-repeat left 15px; color:#fff; font-weight:bold; font-size:20px; line-height:42px}
    .top-mobile-callback {float:right; position:relative}
    .top-mobile-callback-link {color:#ffc613; font:12px/50px "DINProMedium", sans-serif; text-transform:uppercase; text-decoration:none}
    .top-mobile-callback-link:hover {color:#ffe613}
    .top-mobile-callback.open .header-phone-window {display:block}
}

.bg {position:absolute; left:0; top:40px; right:0; height:850px; background:#333 no-repeat center; background-size:cover}
.bg-border {position:absolute; left:0; bottom:0; display:block; width:100%; z-index:5}

header {position:relative; max-width:1170px; padding:0 15px 0 15px; margin:0 auto; height:86px; z-index:9}
header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.logo {float:left; margin:15px 0 0 0}
.logo a {text-decoration:none; float:left}
.logo img {float:left}
.logo-title {text-transform:uppercase; font-size:25px; line-height:25px; font-weight:bold; color:#fff; margin:0 0 0 91px; padding:19px 0 0 0}
.logo-subtitle {text-transform:uppercase; font-size:13px; line-height:18px; color:#ebebeb; margin:0 0 0 91px; padding:7px 0 0 0}

.header-email {float:right; color:#fff; font-size:15px; margin:37px 0 0 0; padding:0 0 0 35px; background:url(../images/header-email.png) no-repeat left 5px}
.header-email a {color:#fff}

.header-phone {float:right; color:#fff; font-size:20px; font-weight:bold; position:relative; padding:0 0 0 25px; margin:39px 30px 0 0; background:url(../images/header-phone.png) no-repeat left 2px; text-transform:uppercase}
a.header-phone-window-link {font:11px/15px DINProMedium, sans-serif; color:#fff; text-decoration:underline; font-weight:normal}

.header-phone-window {display:none; position:absolute; left:-221px; top:100%; width:370px; padding:5px 0 0 0}
.header-phone.open .header-phone-window {display:block}
.header-phone-window::before {content:""; display:block; height:19px; background:url(../images/header-phone-window-top.png); position:relative}
.header-phone-window-content {background:#f7f7f7; border-radius:0 0 3px 3px; box-shadow:0 15px 81px rgba(0, 0, 0, .41)}
.header-phone-window-content form {margin:0; padding:21px 30px 45px 30px}
.header-phone-window-content .form-label {margin:19px 0 0 0}
.header-phone-window-content .form-input {margin:1px 0 0 0}
.header-phone-window-content .form-input input {border-color:#fff}
.header-phone-window-content .form-input input.error {border-color:#fff}
.header-phone-window-content .form-input input:hover {border-color:#b3b3b3}
.header-phone-window-content .form-input input.error {border-color:#f02a2a}
.header-phone-window-content .form-input input.success {border-color:#84b85a}
.header-phone-window-content .form-input input:focus {border-color:#888989}
.header-phone-window-content .form-input label.error {font-size:14px; line-height:20px; font-weight:normal; text-transform:none}
.header-phone-window-content .form-submit {width:auto; margin:44px 0 0 0}
.header-phone-window-content .form-submit .btn-1 {height:50px; line-height:50px; font-size:14px}

@media (max-width:1199px) {
    .header-phone {display:none}
    .header-email {display:none}
}

.content {max-width:970px; padding:60px 115px 0 115px; margin:0 auto; position:relative; background:#fff; border-top:10px solid #ffc613; z-index:10}

.services-menu {display:table; width:100%; margin:52px 0 0 0; padding:0; list-style:none; text-transform:uppercase; text-align:center; font-size:14px; line-height:18px}
.services-menu li {display:table-cell; width:1000px; margin:0; padding:0; vertical-align:top}
.services-menu li:before {display:none}
.services-menu li a {display:table-cell; width:1000px; vertical-align:top; color:#fff}
.services-menu li a:before {content:""; display:block; width:76px; height:76px; border:2px solid #ffc513; border-radius:40px; margin:0 auto 20px auto; background:url(../images/services-menu.png) no-repeat center}

.services-menu-mobile {display:none}
.services-menu-mobile.slick-slider {display:none}

@media (max-width:1199px) {
    .services-menu {display:none}
    .services-menu-mobile {display:block}
    .services-menu-mobile.slick-slider {display:block}
    .services-menu-mobile .services-menu {display:block; font-size:0; line-height:0; letter-spacing:-1px}
    .services-menu li {display:inline-block; vertical-align:top; width:50%; padding:0 0 50px 0; font-size:20px; line-height:25px; letter-spacing:0; text-transform:none}
    .services-menu li a {display:block; width:auto}
    .services-menu-mobile .slick-dots {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:0}
    .services-menu-mobile .slick-dots li {margin:0 5px; padding:0; display:inline-block; vertical-align:top}
    .services-menu-mobile .slick-dots li:before {display:none}
    .services-menu-mobile .slick-dots li button {display:block; width:10px; height:10px; border:1px solid #ffc613; border-radius:5px; background:transparent; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px}
    .services-menu-mobile .slick-dots li.slick-active button {background:#ffc613}
}

.bg-main {height:auto; position:relative; margin:-136px 0 0 0; padding:136px 0 180px 0; top:auto}

.main-header {max-width:1170px; margin:0 auto; position:relative; padding:40px 15px 0 15px}
.main-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-header-content {float:left; width:570px; padding:101px 0 0 0}
.main-header-content h1 {margin:0; padding:0; font-weight:bold; font-size:70px; line-height:70px; color:#fff; text-transform:uppercase}
.main-header-title {font-size:35px; line-height:35px; text-transform:uppercase; color:#fff; padding:33px 0 0 0}

@media (max-width:1199px) {
    .main-header {padding:0 55px}
    .main-header-content {float:none; width:auto; padding:42px 0 0 0}
    .main-header-content h1 {font-size:45px; line-height:50px}
    .main-header-title {font-size:20px; line-height:25px; padding:12px 0 0 0}
    .main-header-title br {display:none}
    .main-header-text br {display:none}
}

.main-header-form {float:right; width:310px; padding:4px 30px 8px 30px; position:relative; background:#fff; margin:30px 0 0 0}
.main-header-form:before {content:""; display:block; width:0; height:0; position:absolute; left:0; top:-30px; border-bottom:30px solid #fff; border-left:370px solid transparent}
.main-header-form:after {content:""; display:block; width:0; height:0; position:absolute; left:0; bottom:-15px; border-top:15px solid #fff; border-right:370px solid transparent}
.main-header-form-text {margin:17px -5px 23px 0}
.main-header-form-text a {background:#ffc613; display:inline-block; color:#000; padding:0 6px}

@media (max-width:1199px) {
    .main-header-form {float:none; margin:79px auto 0 auto; font-size:14px; line-height:20px}
}

.timer-title {text-align:center; font-weight:bold; font-size:20px; line-height:20px; text-transform:uppercase; color:#000; padding:19px 0 0 0}
.timer {margin:29px -10px 0 -10px}
.timer:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.timer-item {float:left; width:25%; padding:0 10px; box-sizing:border-box; text-align:center}
.timer-item-value {font-weight:bold; font-size:40px; line-height:40px; color:#000}
.timer-item-name {border-top:3px solid #ffc613; text-transform:uppercase; font-size:15px; color:#000; margin:10px 0 0 0; padding:8px 0 0 0}

.order-link {height:60px; line-height:60px; margin:31px 0 29px 0}

.plan {height:825px; position:relative; z-index:6; margin:-3.9% 0 0 0}
.plan-bg {position:absolute; left:0; top:0; width:100%; height:100%}
.plan-scheme {display:block; position:relative}

.plan-scheme path.object {fill:#2ba856; fill-opacity:0; transition:all 0.2s; cursor:pointer}
.plan-scheme path.object.hover {fill-opacity:0.53}

.main-scheme-point {display:none; position:absolute}

.main-scheme-point-title {width:50px; height:50px; position:absolute; left:-25px; top:-25px; background:#ffc613; color:#000; font-size:20px; line-height:50px; border-radius:25px; text-align:center; font-weight:bold}
.main-scheme-point-title:before {content:""; display:block; width:40px; height:40px; border:15px solid #ffc613; border-radius:35px; position:absolute; left:-10px; top:-10px}

@media (max-width:1199px) {
    .main-scheme-point-title:after {content:""; display:block; position:absolute; width:0; height:0; left:50%; bottom:-30px; margin-left:-9px; border-left:9px solid transparent; border-top:none; border-bottom:9px solid #fff; border-right:9px solid transparent; z-index:100}
}

.main-scheme-point-content {display:block; position:absolute; left:55px; top:-30px; width:470px; padding:29px 30px 43px 30px; background:#fff; z-index:99; box-shadow:0 3px 13px rgba(161, 158, 158, .55)}
.main-scheme-point.right .main-scheme-point-content {left:auto; right:55px}
.main-scheme-point-content:before {content:""; display:block; width:0; height:0; position:absolute; left:-9px; top:20px; border-right:9px solid #fff; border-top:9px solid transparent; border-bottom:9px solid transparent}
.main-scheme-point.right .main-scheme-point-content:before {left:auto; right:-9px; border-left:9px solid #fff; border-right:none}
.main-scheme-point-name {color:#000; font-weight:bold; text-transform:uppercase; font-size:20px}
.main-scheme-point-size {color:#ffc613; text-transform:uppercase; font-size:20px; padding:10px 0 0 0}
.main-scheme-point-info {border-top:1px solid #f2f2f2; font-size:13px; margin:20px 0 0 0; padding:18px 0 0 0}
.main-scheme-point-info-row {padding:10px 0 0 0}
.main-scheme-point-info-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-scheme-point-info-row-name {float:left; width:130px; color:#8a8a8a}
.main-scheme-point-info-row-value {margin:0 0 0 140px; color:#000}
.main-scheme-point-close {display:none}

@media (max-width:1199px) {
    .main-scheme-point-content {position:fixed; left:50% !important; top:50% !important; width:370px; margin-left:-215px; transform:translateY(-50%)}
    .main-scheme-point.right .main-scheme-point-content {left:50% !important; right:auto}
    .main-scheme-point-content:before {display:none}
    .main-scheme-point-close {display:block; position:absolute; right:10px; top:10px; width:20px; height:20px}
    .main-scheme-point-close::before,
    .main-scheme-point-close::after {content:""; display:block; position:absolute; left:0; top:9px; right:0; height:2px; background:#000}
    .main-scheme-point-close::before {transform:rotate(-45deg)}
    .main-scheme-point-close::after {transform:rotate(45deg)}
}

.main-scheme-title {position:absolute; left:50%; top:2%; width:385px; height:66px; padding:51px 0 0 0; background:url(../images/main-scheme-title.png); margin:0 0 0 -193px; text-align:center; text-transform:uppercase; color:#000; font-size:20px; font-weight:bold}

@media (max-width:1199px) {
    .main-scheme-title {display:none}
}

.main-services-menu {padding:167px 0 100px 0; margin:-95px 0 0 0}
.main-services-menu-inner {max-width:1170px; margin:0 auto; padding:0 15px}
.main-services-menu-title {text-align:center; color:#000; text-transform:uppercase; font-weight:bold; font-size:30px; line-height:30px}
.main-services-menu .services-menu {font-size:15px; text-transform:none; margin:47px 0 0 0}
.main-services-menu .services-menu li a {padding-left:10px; padding-right:10px; color:#000}
.main-services-menu .services-menu li a:before {background-image:url(../images/services-menu-main.png); margin-bottom:18px}

@media (max-width:1199px) {
    .main-services-menu {margin:-271px 0 0 0; padding:387px 0 70px 0}
    .main-services-menu-inner {padding:0 55px}
    .main-services-menu .services-menu {font-size:0}
}

.main-map {position:relative}
.main-map #map {height:910px}
.main-map-title {position:absolute; left:50%; top:0; width:385px; height:66px; padding:51px 0 0 0; background:url(../images/main-scheme-title.png); margin:0 0 0 -193px; text-align:center; text-transform:uppercase; color:#000; font-size:20px; font-weight:bold}
.main-map-border-top,
.main-map-border-bottom {display:block; position:absolute; left:0; width:100%}
.main-map-border-top {top:0}
.main-map-border-bottom {bottom:0}
.main-map-info {position:absolute; left:0; right:0; top:0}
.main-map-info-wrap {max-width:1170px; margin:0 auto; padding:0 15px; height:0; position:relative}
.main-map-info-block {position:absolute; left:15px; top:120px; background:#fff; width:370px}
.main-map-info-header {color:#000; padding:30px 30px 32px 30px; background:#fafafa}
.main-map-info-title {font-weight:bold; font-size:20px; line-height:20px; text-transform:uppercase}
.main-map-info-subtitle {font-size:15px; padding:18px 0 0 0}
.main-map-info-content {padding:30px}
.main-map-info-content dl {margin:0; padding:0}
.main-map-info-content dt {margin:0; padding:0; text-transform:uppercase; font-size:11px; color:#9e9e9e}
.main-map-info-content dd {margin:-1px 0 22px 0; padding:0; font-size:15px; color:#000}
.main-map-info-content dd a {color:#000; text-decoration:none; background:url(../images/contacts-main-office-info-value.png) repeat-x left bottom}
.main-map-info-content dd a:hover {background:none}
.main-map-info-content .btn-1 {margin:41px 0 0 0; height:60px; padding:14px 0 0 108px; line-height:20px; font-size:15px; text-align:left; background-repeat:no-repeat; background-image:url(../images/main-map-info-link.png); background-position:46px bottom}
.main-map-info-content .btn-1 span {display:block; font-size:12px; font-weight:normal; text-transform:none; margin:-4px 0 0 0}

@media (max-width:1199px) {
    .main-map-title {top:-15px}
    .main-map-info {display:none}
}

.why {max-width:1170px; padding:0 15px; margin:-7px auto 0 auto}
.why h2 {font-size:30px; line-height:30px; margin:0; text-align:center}
.why-menu {display:table; font-size:15px; width:100%; margin:75px 0 0 0}
.why-menu li {display:table-cell; width:1000px; text-align:center; vertical-align:top; margin:0; padding:0 0 32px 0; position:relative}
.why-menu li:before {display:none}
.why-menu li.active {font-weight:bold}
.why-menu li.active:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:0; margin-left:-12px; border-bottom:12px solid #f7f7f7; border-left:12px solid transparent; border-right:12px solid transparent}
.why-menu a {color:#3e3e3e}
.why-menu li.active a {color:#000}

@media (max-width:1199px) {
    .why {position:relative; padding-left:25px; padding-right:25px; padding-bottom:75px}
    .why-menu {display:block; position:absolute; left:54px; right:54px; margin:0; bottom:135px; width:auto; font-size:0; line-height:0; letter-spacing:-1px; z-index:1}
    .why-menu li {display:block; width:20%; float:left; padding:0 1px; box-sizing:border-box}
    .why-menu li a {display:block; height:7px; position:relative}
    .why-menu li a:after {content:""; display:block; width:100%; height:3px; background:#cdcccc; position:relative; top:2px}
    .why-menu li.active:after {display:none}
    .why-menu li.active a:after {height:7px; top:0; background:#000}
}

.why-tabs {position:relative; background:#f7f7f7; padding:0 50px 70px 50px; color:#000}
.why-tab {position:absolute; left:-9999px; top:-9999px; width:100%}
.why-tab:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.why-tab.active {position:relative; left:auto; top:auto}
.why-tab-title {float:left; width:250px; font-weight:bold; text-transform:uppercase; font-size:25px; line-height:25px; margin:55px 0 0 0}
.why-tab-text {margin:0 0 0 290px; font-size:15px; padding:57px 0 0 0}
.why-tab-text-wrap {max-height:180px; position:relative; overflow:hidden}
.why-tab-text.open .why-tab-text-wrap {max-height:none; overflow:auto}
.why-tab-text p {margin:0 0 20px 0}
.why-tab-text p:last-child {margin:0}
.why-tab-text .btn-2 {display:none; width:170px; height:40px; border-radius:3px; border-color:#ccc; font-size:12px; line-height:38px; font-weight:normal; margin:33px 0 0 0}
.why-tab-text.why-tab-text-with-link .btn-2 {display:block}
.why-tab-text .btn-2:hover {text-decoration:none; border-color:#c3c4c4}
.why-tab-text .btn-2:active {text-decoration:none; border-color:#000}
.why-tab-more-text-2 {display:none}
.why-tab-text.open .why-tab-more-text-1 {display:none}
.why-tab-text.open .why-tab-more-text-2 {display:inline}

@media (max-width:1199px) {
    .why-tabs {margin:50px 0 0 0; padding:0 30px 130px 30px}
    .why-tab-title  {font-size:20px; float:none; width:auto; margin:0; padding:47px 0 0 0}
    .why-tab-text {margin:0; font-size:16px; padding:25px 0 0 0}
    .why-tab-text .btn-2 {border:none; color:#000; color:#000; font-weight:bold; width:auto; display:inline-block; text-align:left}
}

.main-gallery {max-width:1170px; padding:83px 15px 85px 15px; margin:0 auto}
.main-gallery-title {text-align:center; text-transform:uppercase; font-size:30px; line-height:30px; font-weight:bold; color:#000}
.main-gallery-list {margin:0 -15px; font-size:0; line-height:0; letter-spacing:-1px; padding:41px 0 0 0}
.main-gallery-item {display:inline-block; vertical-align:top; width:25%; padding:15px; box-sizing:border-box}
.main-gallery-item img {display:block; width:100%}

@media (max-width:1199px) {
    .main-gallery {position:relative; padding-left:55px; padding-right:55px}
    .main-gallery-title {font-size:25px; line-height:25px}
    .main-gallery-item {width:100%; padding:0}
    .main-gallery .slick-dots {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:45px 0 0 0}
    .main-gallery .slick-dots li {margin:0 5px; padding:0; display:inline-block; vertical-align:top}
    .main-gallery .slick-dots li:before {display:none}
    .main-gallery .slick-dots li button {display:block; width:10px; height:10px; border:1px solid #ffc613; border-radius:5px; background:transparent; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px}
    .main-gallery .slick-dots li.slick-active button {background:#ffc613}
}

.main-geography {background:#f7f7f7}
.main-geography-inner {max-width:1170px; margin:0 auto; padding:0 15px}
.main-geography-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-geography-wrap {float:left; width:100%; background:#fff; box-sizing:border-box; border-top:10px solid #ffc613; padding:74px 100px 50px 100px; position:relative; margin:-150px 0 -307px 0; z-index:2}
.main-geography-wrap h2 {margin:0; text-align:center}

@media (max-width:1199px) {
    .main-geography-inner  {padding:0 55px}
    .main-geography-wrap {padding-left:30px; padding-right:30px}
}

.geography-menu-wrap {position:relative; margin:51px 0 61px 0}
.geography-menu {margin:0; text-align:center; text-transform:uppercase; font-size:0; line-height:0; letter-spacing:-1px}
.geography-menu li {display:inline-block; margin:0; padding:3px 5px}
.geography-menu li:before {display:none}
.geography-menu li a {display:block; width:138px; height:32px; border:1px solid #ffc613; color:#000; border-radius:3px; font-size:12px; line-height:32px; letter-spacing:0; text-decoration:none}
.geography-menu li a:hover {text-decoration:underline}
.geography-menu li a.wide {width:182px}
.geography-menu li.active a {font-weight:bold; background:#ffc613}
.geography-menu-value {display:none}

@media (max-width:1199px) {
    .geography-menu-value {display:block; position:relative; padding:0 0 0 20px; height:48px; font-size:15px; font-weight:bold; line-height:48px; color:#000; background:#fff; border-radius:3px; border:1px solid #ffc613; text-transform:uppercase; text-decoration:none}
    .geography-menu-value:hover {text-decoration:none}
    .geography-menu-wrap.open .geography-menu-value {border-radius:3px 3px 0 0}
    .geography-menu-value:after {content:""; display:block; width:11px; height:6px; background:url(../images/arrow.png); position:absolute; right:15px; top:21px}
    .geography-menu {display:none}
    .geography-menu-wrap.open .geography-menu {display:block; position:absolute; left:0; top:100%; width:100%; background:#fff; border:1px solid #ffc613; border-radius:0 0 3px 3px; box-sizing:border-box; z-index:99}
    .geography-menu-wrap.open li.active {display:none}
    .geography-menu-wrap.open li {float:none; margin:0; padding:0; border-top:1px solid #efe20d; display:block; text-align:left}
    .geography-menu-wrap.open li a {display:block; width:auto; float:none; padding:0 0 0 20px; height:50px; line-height:50px; background:none; color:#000; border-radius:0; border:none}
    .geography-menu-wrap.open li a.wide {width:auto}
    .geography-menu-wrap.open li a:hover {background:#ffc613; text-decoration:none}
}

.geography-item {border-top:1px solid #e6e6e6; padding:40px 0}
.geography-item:first-child {padding-top:0; border-top:none}
.geography-item:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.geography-item-content {float:left; width:100%; padding:0 370px 0 0; box-sizing:border-box}
.geography-item-title {font-size:20px; font-weight:bold; text-transform:uppercase; padding:38px 0 35px 0}
.geography-item-title a {color:#000; text-decoration:none; background:url(../images/contacts-main-office-info-value.png) repeat-x left bottom}
.geography-item-title a:hover {background:none}
.geography-item-cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.geography-item-col {float:right; width:230px}
.geography-item-col+.geography-item-col {float:left; width:270px}
.geography-item-info {display:table; width:100%}
.geography-item-info-row {display:table-row}
.geography-item-info-name {display:table-cell; vertical-align:top; padding:5px 0 5px 0; white-space:nowrap}
.geography-item-info-value {display:table-cell; vertical-align:top; padding:5px 0; width:100%; color:#000; font-weight:bold; text-align:right; white-space:nowrap}
.geography-item-col+.geography-item-col .geography-item-info-name {padding-right:18px}
.geography-item-col+.geography-item-col .geography-item-info-value {text-align:left; white-space:normal}
.geography-item-map {float:left; width:270px; margin:0 0 0 -270px}
.geography-item-map-inner {height:280px}
.geography-item-feedback {position:relative; margin:19px 0 0 0}
.geography-item-feedback-link {display:block; width:168px; height:32px; border:1px solid #ffc613; font-size:12px; line-height:32px; border-radius:3px; text-align:center; text-transform:uppercase; color:#000; text-decoration:none}
.geography-item-feedback-link:hover {border-color:#7f7f7f; text-decoration:none; color:#000}
.geography-item-feedback-link:active {border-color:#000}
.geography-item-feedback.open .geography-item-feedback-link {border-radius:3px 3px 0 0; background:#ffc613; border-color:#ffc613}
.geography-item-feedback-form {display:none; position:absolute; left:0; top:100%; padding:12px 20px 20px 20px; width:410px; background:#ffc613; z-index:90}
.geography-item-feedback.open .geography-item-feedback-form {display:block}
.geography-item-feedback-form form {margin:0; padding:0}
.geography-item-feedback-form form:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.geography-item-feedback-field {float:left; width:170px; padding:0 10px 0 0}
.geography-item-feedback-form .form-label {margin:0; text-transform:none; font-size:14px}
.geography-item-feedback-form .form-input {margin:12px 0 0 0}
.geography-item-feedback-form .form-input:after {display:none}
.geography-item-feedback-form .form-input input {border-color:#fff; border-radius:3px; padding-left:12px; padding-right:12px}
.geography-item-feedback-form .form-input label.error {display:none !important}
.geography-item-feedback-form .form-input input.error {border-color:#f02a2a}
.geography-item-feedback-form .form-submit {float:left; width:50px; margin:32px 0 0 0}
.geography-item-feedback-form .form-submit .btn-1 {background:#ffe613}
.geography-item-feedback-form .form-submit .btn-1:hover {background:#ffba13}

@media (max-width:1199px) {
    .geography-item-content {float:none; width:auto; padding:0}
    .geography-item-title {padding-top:18px}
    .geography-item-map {display:none}
    .geography-item-col {float:none; width:265px}
    .geography-item-col+.geography-item-col {float:none; width:320px; padding:25px 0 0 0}

    .geography-item-feedback-form {width:310px; left:0; padding:19px 30px 26px 30px}
    .geography-item-feedback-field {float:none; width:auto; padding:0 0 10px 0}
    .geography-item-feedback-form .form-input {margin:0}
    .geography-item-feedback-form .form-input input {height:40px; padding-top:9px; padding-bottom:9px}
    .geography-item-feedback-form .form-label {display:none}
    .geography-item-feedback-form .form-submit {float:none; width:auto; margin:16px 0 0 0}
    .geography-item-feedback-form .form-submit .btn-1 {height:40px; line-height:40px}
}

.geography-list {display:none}
.geography-list.active {display:block}

.how {background:#f7f7f7 url(../images/how-bg.jpg) no-repeat center; background-size:cover; padding:405px 0 99px 0; position:relative}
.how-border {position:absolute; display:block; left:0; top:0; width:100%}
.how-inner {max-width:1170px; margin:0 auto; padding:0 15px}
.how-form {background:#fff url(../images/how-form.png) repeat-x; border-radius:3px}
.how-form form {margin:0}
.how-form-row {padding:10px 100px 20px 100px}
.how-form-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.how-form-fields {float:left; width:570px; padding:19px 0 0 0}
.how-form-field {float:left; width:180px; margin:0 10px 0 0}
.how-form-field .form-input {margin-top:-8px}
.how-form-field+.how-form-field+.how-form-field {float:right; margin:0}
.how-form-file {float:right; width:350px; padding:42px 0 0 0}
.how-form-file .form-file {padding:6px 0 0 0}
.how-form-file .form-file-input {height:38px; line-height:38px}
.how-form-file .form-file-name {line-height:40px}
.how-form .form-submit {background:#f7f7f7; border-radius:0 0 3px 3px; padding:25px 0; text-align:center; width:auto; margin:0}
.how-form .form-submit .btn-1 {width:358px; margin:0 auto; height:50px; line-height:50px; font-size:14px}

.how .main-header-form {display:none}

@media (max-width:1199px) {
    .how {margin-bottom:-100px}
    .how-inner {padding:0 55px}
    .how-list {margin:0}
    .how-item {float:none; width:100%; padding:0 0 0 55px; position:relative; margin-top:13px}
    .how-item-step {position:absolute; left:0; top:0; padding:29px 0 0 0}
    .how-item-title {font-size:20px}
    .how-item-text {font-size:16px; line-height:25px}
    .how-sep {display:none}
    .how-form {display:none}
    .how .main-header-form {display:block; float:none}
    .how .main-header-form:before {width:370px; height:33px; background:url(../images/how-form-mobile.png); position:absolute; left:0; top:-33px; border:none}
}

#order {max-width:1170px; padding:0 15px; margin:0 auto; padding:0 0 92px 0}
#order .how-form {background-color:#ffc613}
#order .how-form .form-submit {background:#ffd719}
#order .how-form-field .form-input input {border-color:#fff}
#order .how-form-field .form-input input.error {border-color:#f00}
#order .how-form-field .form-input textarea {border-color:#fff}
#order .how-form-field .form-input textarea.error {border-color:#f00}
#order .how-form-file .form-file-input {background-color:#ffe21c; border-color:#ffe21c}
#order .how-form-file .error .form-file-input {border-color:#f00}
#order .how-form-file .form-file-name {color:#000}
#order .how-form .form-submit .btn-1 {background-color:#ff6c00}
#order .main-header-form-text a {background:#ff6c00}

#order .main-header-form {display:none}


@media (max-width:1199px) {
    .main-header-form {float:right; margin:79px auto 0 auto; font-size:14px; line-height:20px}
    .main-header-form .form-input input,
    .main-header-form .form-input textarea {padding-top:9px; padding-bottom:9px; font-size:14px}
    .main-header-form .form-input input {height:40px}
    .main-header-form .form-submit .btn-1 {height:40px; line-height:40px}
}

@media (max-width:1199px) {
    #order .main-header-form {display:block; float:none; background:#ffc613}
    #order .main-header-form:before {width:370px; height:33px; background:url(../images/how-form-mobile-order.png); position:absolute; left:0; top:-33px; border:none}
    #order .main-header-form:after {border-top-color:#ffc613}
    #order .main-header-form .form-submit .btn-1 {background:#ff6c00; color:#fff; font-size:14px}
    #order .form-file-input {background:#ffe21c; border-color:#ffe21c}
    #order .form-file.error .form-file-input {border-color:#f02a2a}
}

.new-how {background:#f2f4f5 url(../images/how.jpg) no-repeat center; background-size:cover; padding:140px 0 145px 0; position:relative; margin:15px 0 -27px 0}
.new-how-border-top,
.new-how-border-bottom {display:block; position:absolute; left:0; width:100%}
.new-how-border-top {top:0}
.new-how-border-bottom {bottom:0}
.new-how-inner {max-width:1170px; margin:0 auto; padding:0 15px}
.new-how-inner h2 {font-size:30px; line-height:30px; margin:0; text-align:center}
.how-list {margin:0 -15px}
.how-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.how-item {float:left; width:25%; padding:0 35px; box-sizing:border-box}
.how-item-step {font-size:60px; line-height:60px; letter-spacing:0; font-weight:bold; color:#ffc613; padding:42px 0 0 0}
.how-item-title {font-size:25px; line-height:25px; letter-spacing:0; font-weight:bold; color:#000; text-transform:uppercase; padding:36px 0 0 0}
.how-item-text {font-size:15px; line-height:20px; letter-spacing:0; color:#000; padding:12px 0 0 0}
.how-sep {float:left; width:70px; margin:0 -35px; padding:205px 0 0 0; height:22px; background:url(../images/how-sep.png) no-repeat center bottom}

@media (max-width:1199px) {
    .new-how {background:#f7f9f9 url(../images/how-mobile.jpg) no-repeat center top; background-size:100% auto}
    .new-how-inner {padding:0 55px}
    .how-list {margin:0}
    .how-item {float:none; width:100%; padding:0 0 0 55px; position:relative; margin-top:13px}
    .how-item-step {position:absolute; left:0; top:0; padding:29px 0 0 0}
    .how-item-title {font-size:20px}
    .how-item-text {font-size:16px; line-height:25px}
    .how-sep {display:none}
}

footer {background:#f7f7f7; margin:-300px 0 0 0; position:relative; min-width:480px; height:300px}
.main-page-footer {background:none}
.footer-inner {max-width:1170px; padding:0 15px; margin:0 auto}
.footer-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

@media (max-width:1199px) {
    footer {margin:-625px 0 0 0; height:625px}
    .footer-inner {padding:0 55px}
}

.footer-copyrights {float:left; width:400px; padding:52px 0 0 0}
.footer-copyrights a {color:#2b2b2b; text-decoration:underline}
.footer-copyrights a:hover {text-decoration:none}
.footer-logo:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-logo img {float:left}
.footer-logo-title {text-transform:uppercase; line-height:18px; font-weight:bold; color:#181818; margin:0 0 0 73px; padding:8px 0 0 0}
.footer-logo-subtitle {text-transform:uppercase; font-size:10px; line-height:18px; color:#909090; margin:0 0 0 73px; padding:2px 0 0 0}
.footer-copyrights-text {font-weight:bold; padding:16px 0 0 0}
.footer-developer {color:#000; padding:50px 0 0 0}

@media (max-width:1199px) {
    .footer-logo {display:none}
    .footer-copyrights {float:none; padding:0; width:auto}
    .footer-copyrights-text {position:absolute; left:0; right:0; text-align:center; bottom:131px}
    .footer-politics {position:absolute; left:0; right:0; text-align:center; bottom:104px}
    .footer-developer {position:absolute; left:0; right:0; text-align:center; bottom:0; height:50px; background:#fff; line-height:50px; padding:0}
    .main-page-footer .footer-developer {background:#f5f5f5}
}

.footer-menu {float:left; margin:0; padding:50px 0 0 0; list-style:none; font-size:12px; text-transform:uppercase}
.footer-menu li {margin:10px 0; padding:0}
.footer-menu li:before {display:none}
.footer-menu a {color:#2b2b2b; text-decoration:underline}
.footer-menu a:hover {text-decoration:none}

@media (max-width:1199px) {
    .footer-menu {float:none; font-size:16px; padding:35px 0 0 0}
    .footer-menu li {margin:12px 0}
}

.footer-contacts {float:right; width:370px}
.footer-contacts-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-contacts-phone {float:left; text-transform:uppercase; font-weight:bold; color:#000; font-size:18px; padding:59px 0 0 0}
.footer-contacts-phone span {display:block; font-size:12px; color:#909090; font-weight:normal}

@media (max-width:1199px) {
    .footer-contacts {float:none; width:auto}
    .footer-contacts-phone {float:none; font-size:45px; line-height:45px; margin:0 -10px; padding:28px 0 0 0; text-align:center}
    .footer-contacts-phone span {display:none}
}

.footer-feedback {position:relative; float:right; margin:63px 0 0 0; width:170px}
.footer-feedback-link {font-weight:normal; font-size:12px; line-height:34px; height:34px; width:auto}
.footer-feedback.open .footer-feedback-link {border-radius:3px 3px 0 0; background:#ffc613; border-color:#ffc613; position:relative}
.footer-feedback.open .footer-feedback-link:after {content:""; display:block; position:absolute; left:0; right:0; bottom:-9px; height:9px; background:#ffc613}
.footer-feedback-form {display:none; position:absolute; right:0; top:100%; margin-top:9px; padding:12px 20px 20px 20px; width:410px; background:#ffc613; z-index:90}
.footer-feedback.open .footer-feedback-form {display:block}
.footer-feedback-form form {margin:0; padding:0}
.footer-feedback-form form:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-feedback-field {float:left; width:170px; padding:0 10px 0 0}
.footer-feedback-form .form-label {margin:0; text-transform:none; font-size:14px}
.footer-feedback-form .form-input {margin:12px 0 0 0}
.footer-feedback-form .form-input:after {display:none}
.footer-feedback-form .form-input input {border-color:#fff; border-radius:3px; padding-left:12px; padding-right:12px}
.footer-feedback-form .form-input label.error {display:none !important}
.footer-feedback-form .form-input input.error {border-color:#f02a2a}
.footer-feedback-form .form-submit {float:left; width:50px; margin:32px 0 0 0}
.footer-feedback-form .form-submit .btn-1 {background:#ffe613}
.footer-feedback-form .form-submit .btn-1:hover {background:#ffba13}

@media (max-width:1199px) {
    .footer-feedback {float:none; margin:30px 0 0 0; width:auto}
    .footer-feedback-link {font-size:16px; height:50px; line-height:50px}
    .footer-feedback-form {width:auto; left:0; padding:8px 30px 26px 30px}
    .footer-feedback-field {float:none; width:auto; padding:0 0 10px 0}
    .footer-feedback-form .form-input {margin:0}
    .footer-feedback-form .form-input input {height:40px; padding-top:9px; padding-bottom:9px}
    .footer-feedback-form .form-label {display:none}
    .footer-feedback-form .form-submit {float:none; width:auto; margin:16px 0 0 0}
    .footer-feedback-form .form-submit .btn-1 {height:40px; line-height:40px}
}

.footer-contacts-branches {font-size:12px; padding:38px 0 0 0}
.footer-contacts-branches-item:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-contacts-branches-name {float:left; width:90px; font-weight:bold; color:#000}
.footer-contacts-branches-address {margin:0 0 0 100px}
.footer-contacts-branches-all {font-size:12px; text-transform:uppercase; padding:11px 0 0 0}
.footer-contacts-branches-all a {color:#2b2b2b; text-decoration:underline}
.footer-contacts-branches-all a:hover {text-decoration:none}

@media (max-width:1199px) {
    .footer-contacts-branches {display:none}
    .footer-contacts-branches-all {display:none}
}